.rubik-glitch-regular {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}
.chelsea-market-regular {
  font-family: "Chelsea Market", system-ui;
  font-weight: 400;
  font-style: normal;
}



body {
  /* background-color: #efe093; */
  background-image: url('src/content/Gemini_Generated_Image_k3grbvk3grbvk3gr.png');
  background-size: repeat;
}

nav {
  height: 100%;
  border-bottom: 4px solid #6e171e;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #efe093;

}
#logo {
  height: 40px;
}
#log {
  color: #6e171e;
  display: flex;
  gap: 10px;
  align-items: center;
}
#login,
#signup {
  height: 35px;
  width: 70px;
  text-decoration: none;
  background-color: #6e171e;
  border-radius: 25px;
  color: #efe093;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  align-content: center;
}
#login:hover,
#signup:hover {
  background-color: #3f090e;
    transform: scale(1.1);
  transition: transform 0.45s ease;

}



#header {
  width: 100% ;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 17vh;
}
#Logo {
  height: 50vh;
  animation: bounceIn 1s ease;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  60% {
    opacity: 1;
    transform: translateY(5px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}












#content {
  margin-left: 150px;
  margin-right: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  align-content: center;
  text-align: center;
}
#about {
  border: 3px solid #5b0e14;
  border-radius: 25px;
}
#getstarted > a {
  background-color: #5b0e14;
  text-decoration: none;
  padding: 15px;
  border-radius: 40px;
  color: rgba(255, 250, 250, 0.768);
  font-size: 35px;
}
#getstarted:hover {
  transform: scale(1.15);
  transition: transform 0.3s ease;
}

#search-bar {
  width: 300px;
  height: 30px;
  background-color: rgba(193, 193, 193, 0.741);
  color: #5b0e14;
  border-radius: 15px;
  border: 2px solid #5b0e14;
}
#wishlist {
  height: 30px;
  width: 100px;
  margin: 5px;
  text-decoration: none;
  background-color: #6e171e;
  color: #efe093;
  font-size: 20px;
  font-weight: bold;
  border-radius: 25px;
align-content: center;
text-align: center;
}


#games-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:5px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

}
.game-card {
  width: 31vw;
  height: 42vh;
  border: 2px solid #5b0e14;
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
  line-height: 2px;
  background-color: #efe093;

}
.game-card img {
  width: 100%;
  height: 76%;

  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}
.game-card img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.game-card h2 {
  font-family: "Chelsea Market", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #6e171e;
}



#loading {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

select{
  background-color: #6e171e;
  color: #efe093;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  margin: 4px;
}









/* Mobile */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
  }

  #header {
    margin-top: 60px;
  }
  #log {
  color: #6e171e;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

  #games-grid {
    grid-template-columns: 1fr;
  }
  .game-card {
    width: 90vw;
    height: auto;
  }

  #login,
  #signup {
    width: 100px;
    font-size: 14px;
  }

  #getstarted > a {
    font-size: 18px;
  }
  #Logo {
  height: 30vh;
  width: 100vw;
  animation: bounceIn 1s ease;
}
#content {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


}